.container{
    margin: 0;
    width: 100%;
    display: flex;
    background-color: #EFF9F2;
}
.lateral{
    flex:1;
    background-color: #00242B ;
    color:#78a1bb;
    height: 1410px;
    list-style: none;
    padding-left: 20px;
}
.lateral li{
    list-style: none;
}
.lateral h3{
    color:#03674F;
    font-size: 20px;
    font-family: belgrano;
    margin-top: 23px;
}
.lateral h4{
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 0;
}
.lateral img {
    width: 160px;
    border-radius: 200px;
    margin: 35px auto 27px 65px;
}
.competences{
    margin-top: 20px;
}
.vignettes{
    margin-left: -10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
.vignette{
    font-size:18px ;
    background-color: #03674F;
    border-radius: 5px;
    color:white;
    padding: 5px 5px;
    margin: 5px;
}
.page{
    flex:2;
}
.banniere{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #03674F;
    height: 180px ;
    color: white;
    margin-top: 30px;
    vertical-align: middle;
}
.banniere h1{
    font-family: belgrano;
    font-size: 45px;
    margin: 0px auto 0 5px;
}
.banniere h2{
    margin-top:0;
    padding-left: 5px;
    font-size: 30px;
    font-weight: normal;
}
.items{
    margin-top: 80px;
    display: flex;
    justify-content:space-around;
    color: white;
}
.item{
    border-left: 1px solid white;
    text-align: center;
    padding-left: 10px;
}
hr{
    width: 80%;
    color: white;
    height: 0.2px;
}
.technos{
    margin-top: -110px;
}
.first{
    border:none;
    margin-left:-30px;
}
main{
    padding: 0 10px 8px 30px;
    font-size:18px;
    line-height: 21px;
}
main h3{
    margin-top: 40px;
    color:#03674F;
    font-family: belgrano;
    font-size: 25px;
    margin-bottom: 5px;
}
.loisirs{
    margin-top: 30px;
    padding-bottom: 10px; 
}
main h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
main span{
    font-style: italic;
}
main blockquote{
    margin:45px 0;
    padding-left: 20px;
    border-left: #03674F 4px solid;
    font-size: 18px;
    margin-bottom: -5px;
}
